# ASSIGNMENT 1

In [1]:
#Q1 ANSWER 
str1 = "hello"
list1 = [2.3,5.7,"hello"]
f1 = 2.4
tup1 = (1,2,3,4,5)

In [3]:
#Q2 ANSWER
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [6]:
#Q3 ANSWER
a = 5/2 #gives the result of 5 divides 2 in float form
b = 5%2 #gives reminder
c = 5//2 #gives floor division only the quotient
d = 5**2 #gives the power 5 to the power 2
print(a,"\n",b,"\n",c,"\n",d)

2.5
 1
 2
 25

In [7]:
l = [1,2,3,2.5,'a','hello',[1,2,4,4],(4,5,5),'hi',6]
for i in l:
    print(i)

1
2
3
2.5
a
hello
[1, 2, 4, 4]
(4, 5, 5)
hi
6

In [1]:
#Q5 ANSWER
A = 6
B = 2
count = 0
T = A
while(T>B):
    if(T%B!=0):
        print("The number ",A," and ",B,"are not propely divisible")
        break
    T/=2
    count+=1
else:
    print("The number ",A," is perfectly divisible by ",B, "with a count of ",count)

The number  6  and  2 are not propely divisible

In [2]:
#Q6 ANSWER
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,21,23,24,25]
for i in l:
    if i%3==0 :
        print(i," is divisible by 3")
    else:
        print(i," is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
21  is divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

In [4]:
#Q7 ANSWER
l = [1,2,3]
str1 = "hello"
#mutable means value can be added to the the data type list is mutable
l.append(4)
print(l)

[1, 2, 3, 4]

In [5]:
#immutable means value can not be added to the the data type string is immutable
str1.append('o')
print(str1)

AttributeError: 'str' object has no attribute 'append'